<body>
    <div class="container border border-1 mt-5 mb-4">
        <div class="row justify-content-center mt-5 mb-4">
            <div class="col-lg-4 col-md-12 shadow-lg">
                <form [formGroup]="signInForm">
                    <div class="form-group">
                        <div class="text-center">
                            <p class="fs-2 mt-4">Sign In Form</p>
                        </div>
                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form3Example3" formControlName="mail" class="form-control" placeholder="Email address" [ngClass]="{ 'is-invalid':mail.errors && (mail.touched || mail.dirty), 'is-valid':mail.valid} " />
                            <div class="invalid-feedback text-start fs-6 fst-normal text-danger justify-content-center ">
                                <h6 *ngIf="mail.errors?.required" class="text-danger text-center">Required</h6>
                                <h6 *ngIf="mail.errors?.pattern" class="text-danger text-center">Correct Format
                                </h6>
                            </div>
                        </div>

                        <!-- password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="form3Example4" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid':password.errors&&(password.touched||password.dirty), 'is-valid':password.valid} " />
                            <div class="invalid-feedback text-start fs-6 fst-normal text-danger justify-content-center">
                                <h6 *ngIf="password.errors?.required" class="text-danger text-center">Required</h6>
                                <h6 *ngIf="password.errors?.pattern" class="text-danger text-center">Atleast 9 characters length,Contains atleast(1 Uppercase,1 number,1 special character,1 lowercase)
                                </h6>
                            </div>

                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="!signInForm.valid" (click)="onSubmit()">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a routerLink="/registration">Register</a></p>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>