<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-0 py-3">
    <div class="container-xl">
        <!-- Logo -->

        <h5 class="text-white fs-3 text-center">TODO LIST</h5>
        <!-- Navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Nav -->

            <div class="navbar-nav mx-lg-auto">
                <a class="nav-item nav-link fs-5" routerLink="home" id="item" aria-current="page" *ngIf="Admin">Admin</a>
                <a class="nav-item nav-link fs-5" routerLink="/user" id="item" *ngIf="User">User</a>
            </div>
            <!-- Right navigation -->
            <div class="navbar-nav ms-lg-4">
                <a routerLink="/registration" class="nav-item nav-link" id="item" *ngIf="!Admin && !User">
                    Register
                </a>
            </div>

            <!-- Action -->
            <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                <a class="btn btn-sm btn-primary w-full w-lg-auto " routerLink="/" *ngIf="!Admin&&!User">Sign in</a>
            </div>

            <div class="d-flex align-items-lg-center mt-3 mt-lg-0">
                <a routerLink="/" class="btn btn-sm btn-primary w-full w-lg-auto" (click)=" logout()" *ngIf="Admin || User">
                    Logout
                </a>
            </div>
        </div>
    </div>
</nav>