<table class="table">
    <thead>
        <div class="col-3">
            <select name="filter" id="filter" [(ngModel)]="selectedStatus">
                <option value="assigned">Assigned</option>
                <option value="Task Started">Task Started</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <tr class="text-center">
            <th scope="col">Task</th>
            <th scope="col">Assigned Date</th>
            <th scope="col">Dead Line</th>
            <th scope="col">status</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let task of fetchDetails|filterstatus:selectedStatus">
            <tr class="text-center">
                <ng-container *ngIf="task.status=='assigned'">
                    <td>{{task.task}}</td>
                    <td>{{task.assginedDate}}</td>
                    <td>{{task.deadLine}}(number of days)</td>
                    <td> <button (click)="updateTask(task.id,task)">Start the Task</button></td>

                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>
<table class="table mt-5">

    <tbody>
        <ng-container>

            <tr class="text-center" *ngFor="let task of fetchDetails">
                <ng-container *ngIf="task.status=='Task Started'">
                    <td>{{task.task}}</td>
                    <td>{{task.assginedDate}}</td>
                    <td>{{task.deadLine}}(number of days)</td>
                    <td> <button (click)="updateTask(task.id,task)">Task Completed</button></td>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>

<table class="table mt-5">
    <tbody>

        <ng-container *ngFor="let task of fetchDetails">
            <tr class="text-center">
                <ng-container *ngIf="task.status=='Completed'">
                    <td>{{task.task}}</td>
                    <td>{{task.assginedDate}}</td>
                    <td>{{task.deadLine}}(number of days)</td>
                    <td>{{task.status}}</td>
                </ng-container>
            </tr>
        </ng-container>
    </tbody>
</table>
<ng-container *ngIf="taskFound">
    <h5 class="text-center">No task Found </h5>
</ng-container>