<div class="container">
    <div class="col-3">
        <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Search By Name">
    </div>
    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#createBackdrop">
        Add Task
    </button>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">task</th>
            </tr>
        </thead>
        <tbody>

            <tr class="text-center" *ngFor="let x of details|search:searchText ">
                <ng-container *ngIf="x.role=='User'&&x.taskAssigned==true">
                    <ng-container>
                        <th scope="row">{{x.id}}</th>
                        <td>{{x.firstName|uppercase}}</td>
                        <td>{{x.userEmail}}</td>

                        <td>
                            <button data-bs-toggle="modal" data-bs-target="#modelViewTask" data-bs-dismiss="modal" (click)="taskInfo(x.id)"><i
                                class="fa-solid fa-list-check border broder-0">
                                <ng-container *ngFor="let task of taskDetails">

                                </ng-container>
                            </i></button>

                            <!-- model to view task -->

                            <div class="modal fade" id="modelViewTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class=" text-center mt-5">
                                            <h5 class="modal-title" id="modelViewTaskLabel">Task</h5>
                                            <div class="col-3">
                                                <select name="filter" id="filter" [(ngModel)]="selectedStatus">
                                                    <option value="assigned">Assigned</option>
                                                    <option value="Task Started">Task Started</option>
                                                    <option value="Completed">Completed</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-body ">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Task</th>
                                                        <th scope="col">Assigned Date</th>
                                                        <th scope="col">Dead Line</th>
                                                        <th scope="col">status</th>
                                                        <th scope="col">Operation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let task of taskDetails|filterstatus:selectedStatus">
                                                        <td>{{task.task}}</td>
                                                        <td>{{task.assginedDate}}</td>
                                                        <td>{{task.deadLine}}(number of days)</td>
                                                        <td>{{task.status}}</td>
                                                        <td *ngIf="task.status=='assigned'||task.status=='Task Started'">
                                                            <button data-bs-toggle="modal" data-bs-target="#modelUpdateTask" data-bs-dismiss="modal">update</button>
                                                            <button data-bs-dismiss="modal" (click)="removeTask(task.id)"> delete </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>
                </ng-container>
            </tr>


        </tbody>
    </table>
</div>

<!-- Modal to create task -->
<div class="modal fade" id="createBackdrop" data-bs-backdrop="create" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createBackdropLabel" aria-hidden="true">
    <form [formGroup]="assignTask">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createBackdropLabel">Modal title</h5>
                </div>
                <div class="modal-body ">
                    <label for="Task">Task</label> <input type="text" class="form-control" formControlName="task" [(ngModel)]="userTask.task">
                    <label for="user ">User</label>
                    <select class="form-control" name="User" formControlName="user" (change)="getId()" [(ngModel)]="userTask.firstName" id="User">
                        <option *ngFor="let user of details">
                            <span *ngIf="user.role=='User'">{{user.firstName}}</span>
                        </option>
                    </select>
                    <label for="Task">No of Days to complete</label> <input type="number" min="1" class="form-control" formControlName="deadLine" [(ngModel)]="userTask.deadLine">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" (click)="createTask()" data-bs-dismiss="modal">Assign task</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Update task -->
<div class="modal fade" id="modelUpdateTask" data-bs-backdrop="update" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modelUpdateTaskLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelUpdateTaskLabel">Modal title</h5>
            </div>
            <div class="modal-body" *ngFor="let task of taskDetails">
                <label for="Task">Task</label> <input type="text" class="form-control" [(ngModel)]="task.task">

                <label for="Task">No of Days to complete</label> <input type="number" min="1" class="form-control" [(ngModel)]="task.deadLine">

            </div>
            <div class="modal-footer" *ngFor="let task of taskDetails">
                <button type="submit" class="btn btn-primary" (click)="updateTask(task.id,task)">Update Task</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>